<ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="success-card">
    <ion-card-header>
      <ion-card-title>SR082622589</ion-card-title>
      <ion-card-subtitle>{{date | date: 'MM/dd/yyyy h:mm a'}}</ion-card-subtitle>
      <ion-icon class="info-icon" name="checkmark-done-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      We have received the request to open a bank account. We will notify you in inbox with further steps. In case you
      don't hear from us within 2 business days, please call <strong>Mr. Alok Srivastav</strong> (+91-9888898888) with
      the request number <strong>SR082622589</strong>.
    </ion-card-content>
  </ion-card>
</ion-content>